#header {
  font-family: sans-serif;
  text-align: center;
  font-size: 38pt;
  margin-top: 50px;
}

header {
  background-color: #f3cd89;
  padding: 20px;
}

button {
  border-radius: 10px;
  border: 1px;
  padding: 10px;
  background-color: #f3cd89;
  cursor: pointer;
}

.box {
  border: 1px solid transparent;
  background-image: url(images/yoga_border.jpeg);
}

.container h1 {
  margin-top: 50px;
}

th h1 {
  padding: 10px;
}

th {
  border: 2px solid black;
  text-transform: uppercase;
  font-family: sans-serif;
}

table {
  text-align: center;
  margin: auto;
  background-color: #f3cd89;
  border-collapse: collapse;
}

td {
  border: 2px solid black;
  text-transform: uppercase;
  font-family: sans-serif;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  position: fixed;
  width: 100%;
  bottom: 5px;
  width: 100%;
  background-color: #f3cd89;
  z-index: 5;
  flex-wrap: wrap;
}

footer h3 {
  font-family: sans-serif;
  font-size: 14px;
  background-color: #f3cd89;
  text-transform: uppercase;
  margin: 10px;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  height: 900px;
}
